@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&family=Ubuntu+Mono:ital@0;1&display=swap');

body, div, p, h1, h2, h3 {
  font-family: 'Lora', serif;
}

code, pre{
  font-family: 'Ubuntu Mono', monospace;
}

.sourceCode{
  font-family: 'Ubuntu Mono', monospace;
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
  -webkit-box-shadow: 0px 8px 5px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 8px 5px -8px rgba(0,0,0,0.75);
  box-shadow: 0px 8px 5px -8px rgba(0,0,0,0.75);
}
pre code {
  white-space: inherit;
}

section.normal strong {
  color: #0462a1;
}

section.normal h1  {
  color: #0462a1;
}

section.normal h2  {
  color: #0462a1;
}

section.normal h3  {
  color: #0462a1;
}

section.normal h4  {
  color: #0462a1;
}

section.normal h5  {
  color: #0462a1;
}

section.normal h6  {
  color: #0462a1;
}

.warn, .note, .tip {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  border-style: groove;
  background: #f5f5f5 5px center/3em no-repeat;
}

.warn {
  background-image: url("images/warn.png");
}
.note {
  background-image: url("images/pin.png");
}
.tip {
  background-image: url("images/bulb.png");
}

.btn-default {
  border-style: solid;
}

.btn {
  background-color: #0462a1; /* Green */
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.book-header.fixed a:link { 
  background-color:#FFF;
  color: #0462a1
}
.book-header.fixed a:visited{ 
  background-color:#FFF;
  color: #0462a1
}
.book-header.fixed a:hover{ 
  background-color:#FFF;
  color: #0462a1
}
.book-header.fixed a:active{ 
  background-color:#FFF;
  color: #0462a1
}
.book-header { 
  border-color: #fff!important;
}

.page-wrapper a:link { color: #0462a1 !important; }
.page-wrapper a:visited { color: #0462a1 !important; }
.page-wrapper a:hover { color: #0462a1 !important; }
.page-wrapper a:active { color: #0462a1 !important; }

.dropdown-menu .buttons .button {
    color: #0462a1;
}