.book .book-summary {
  position: absolute;
  top: 0;
  left: -300px;
  width: 300px;
  bottom: 0;
  z-index: 1;
  color: #FFFFFF;
  background: #0462a1;
}

.book .book-summary ul.summary li a, .book .book-summary ul.summary li span {
  margin: 5px 5px 5px 5px;
  display: block;
  padding: 10px 20px 10px 20px;
  color: #FFFFFF;
  background: 0 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.book .book-summary ul.summary li.active>a {
  padding-left: 5px;
  color: #FFFFFF;
  font-weight: bold;
  border-left:4px solid #ffcb00;
  text-decoration: none;
}

.book .book-summary ul.summary li a:hover {
  padding-left: 5px;
  color: #FFFFFF;
  font-weight: bold;
  border-left:4px solid #ffcb00;
  text-decoration: none;
}

td, tr, th {
  color:white !important;
  background-color: transparent !important;
}

table {
  color:white !important;
  background-color: #0462a1 !important;
}


.part{
  padding-top: 2em;
  text-transform: uppercase;
  font-size: .95em;
}
